node_modules/
.env
.env.local
.env.*.local
.DS_Store
dist/
build/
*.log
.next/
*.tsbuildinfo
uploads/
package-lock.json
yarn.lock
pnpm-lock.yaml
prisma/*.db
coverage/
.nyc_output/
.vitest/
.idea/
.vscode/
